.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: #fff;

  .home-left {
    max-width: 600px;
    margin-right: 50px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  .home-right {
    div {
      display: flex;
      flex-direction: column;
    }
    p {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }

    button {
      font-size: 1rem;
      background-color: #007bff;
      color: #fff;
      padding: 8px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        background-color: black;
        color: #ffcc00;
      }
    }
  }
  color: black;
}
